{
  "plugins": [
    ["transform-decorators-legacy"],
    ["babel-plugin-module-alias",
      [
        {
          "src": "./src/components/",
          "expose": "components"
        },
        {
          "src": "./src/containers/",
          "expose": "containers"
        },
        {
          "src": "./src/styles/",
          "expose": "styles"
        }
      ]
    ]
  ],
  "presets": [ "react", "es2015", "stage-0" ],
}
