header {
  background: #fff;
  padding: 10px 25px;
  text-align: center;
  overflow: hidden;
  position: relative;
  h1 {
    margin: 0;
  }
  #logo {
    display: inline-block;
  }
  .fa-bars, .fa-search {
    line-height: 47px;
  }
  .fa-bars {
    float: left;
  }
  .fa-search {
    float: right;
  }
  #searchWrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    input {
      outline: 0;
      font-size: 20px;
      padding: 10px;
      border: 0;
      margin-top: 10px;
      border-bottom: 1px solid #7d7d7d;
    }
  }
}
