.login_wrapper {
  background: url('../images/download.jpg') right center;
  background-size: cover;
  padding: 10px;
  min-height: 500px;
  section {
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    display: inline-block;
    padding: 20px 0;
    width: 100%;
  }
  h1 {
    margin-bottom: 15px;
  }
}
