section.menu {
  position: fixed;
  height: 100%;
  width: 75%;
  background: #fff;
  z-index: 1;
  h2 {
    text-align: center;
    margin: 10px 0;
  }
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  li {
    padding: 10px;
    border-top: 2px solid #d7d7d7;
    &:last-child {
      border-bottom: 2px solid #d7d7d7;
    }
  }
}
