<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FormulaShare</title>
</head>
<body class="activeMain">
  <div id="root"><%- markup %></div>
  <script>window.__STATE = '<%- initialStore %>';</script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
